/* 
.normal {
  height: 100%;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
} */
.title_select{
  font-weight: 200px;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  border-bottom: 2px solid #ea6f5a;
  color:#ea6f5a;
}
.title{
  font-weight: 200px;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
}

.moushOverTitle{
  font-weight: 200px;
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  border-bottom: 2px solid #ea6f5a;
}

.card{
  width: 400px;
  margin: 60px auto 0;
  padding: 10px 50px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  vertical-align: middle;
  display: inline-block;
}

.input_root{
  background-color: 1px solid #c8c8c8;
  margin-top: 20px;
}

.input{
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.btn{
  width:100%;
  /* margin: 20px; */
  margin-top: 20px;
  height: 40px;
}


.bg{
  height: 100%;
  min-height: 750px;
  text-align: center;
  font-size: 14px;
  background-color: #f1f1f1;
}

.tv{
  width: 80px;
}